<div>
    <div class="row">
    <div class="cols3-1">
      <p> 6518 cal of bacon consumed </p>
    </div>
    <div class="cols3-2">
      <p> 518 gal of random fact </p>
    </div>
    <div class="cols3-3">
      <p> 6518 cal of food item consumed </p>
    </div>
</div>
